.App {
  text-align: center;
}

.App-header {
  background-color: #c3c3c5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 120%;
  color: white;
}

.App-buttonbar {
  display: flex;
  flex-direction: row;
  padding-bottom: 2em;
}

[class*="App-button-"] {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  text-decoration: none;
  margin-right: 1em;
}

.App-button-plain {
  color: white;
}

.App-button-active {
  color: black;
}

.App-button-plain:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.App-link {
  color: #61dafb;
}

.Events-wrapper {
  display: flex;
  flex-direction: row;
}

.Events-output {
  border: 1px;
  border-style: solid;
  width: 30%;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
}

.Events-bound {
  margin-left: 1em;
  text-align: left;
}

.Events-bound ul {
  margin-top: 0.5em;
}

.Events-renderState {
  background-color:#c3c3c5;
  color: white;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

.Events-nodeInfo {
  margin-left: 1em;
  text-align: left;
}
